*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-family: arial;
    color: #686767;
    background-color: #2a2a2a;
}

#container{
    margin: 0 auto;
    width: 70%;
    margin-top: 2em;
    text-align: left;
    border: 1px solid #6d6c6c;
    background-color: white;
}

#header{
    background-color: #33a;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    text-align:left;
    box-shadow: 2px 4px 25px -1px #000000c2;
}

#header span{
    font-weight: normal;
    font-size: 0.5;
}

#post{
    padding: 1em;
}

#logo{
    width: 35px;
    vertical-align: middle;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6c6c6c;
    padding: 0.3em 0;
    font-weight: bold;
    color: white;
    text-align: center;
}